<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Header</title>
    <link crossorigin="anonymous" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" rel="stylesheet">
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-light bg-white justify-center sticky-top">
    <a class="navbar-brand text-primary ml-5" href="#">
        <img src="/images/jmLogo.jpg" width="30" height="30" class="d-inline-block align-top mr-2" alt="">StackOverMentor</a>
    <div class="nav-item col-8 my-sm-2 ml-5">
        <form class="form-inline my-2 my-lg-0" style="">
            <input class="form-control mr-sm-2 col-10" type="search" placeholder="Search" aria-label="Search">
            <button class="btn btn-primary my-2 my-sm-0" type="submit">Search</button>
        </form>
    </div>
    <div class = "nav-item col-4">
        <ul class="navbar-nav">
            <li class="nav-item mr-3">
                <a href="#"><img src="/images/user.png" width="30" height="30" class="d-inline-block align-top" alt=""
                                 title="Последние Входящие Сообщения"/></a>
            </li>
            <li class="nav-item mr-3">
                <a href="#"><img src="/images/goal.png" width="30" height="30" class="d-inline-block align-top" alt=""
                                 title="Последние достижения: репутация, знаки и привелегии"/></a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-primary" href="#">Войти</a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-primary" href="#">Зарегестрироваться</a>
            </li>
        </ul>
    </div>
</nav>

</body>
</html>