<!DOCTYPE html>
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="/css/sidebar.css">
    <link crossorigin="anonymous" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" rel="stylesheet">
    <title>Sidebar</title>
</head>
<body>

<div class="container">
    <div class="row">
        <div id="left-panel" class="col-md-2 left-panel">
            <div class="col-md-12 btn-group-vertical position-fixed left-panel-blok border-right">
                <a href="#" class="btn btn-link text-primary">Главная</a>
                <a href="#" class="btn btn-link text-primary">Вопросы</a>
                <a href="#" class="btn btn-link text-primary">Метки</a>
                <a href="#" class="btn btn-link text-primary">Участники</a>
                <a href="#" class="btn btn-link text-primary">Неотвеченные</a>
            </div>
        </div>

        <div class="col-md-10 section-center">

        </div>
</div>

</body>
</html>