body {
    background: #dadadf70;
    color: #000;
}

.navbar {
    border-top-width: 2px;
    border-top-style: solid;
}

.navbar-light {
    background-color: #fff;
    opacity: 0.8;
}

.interval-label {
    margin-left: 10px;
}

#home-section .display-4 {
    font-size: 2.5rem;
    font-weight: 300;
    line-height: 1.1;
    padding-left: 22px;
}

#home-section .home-inner {
    padding-top: 150px;
}

#home-section .fa {
    color: #000;
    background: #fff;
    padding: 4px;
    border-radius: 5px;
    font-size: 15px;
    margin-top: 8px;
}

#home-section .card-body {
    text-align: left;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px 0px rgb(87, 84, 84);
}

#home-section .btn-block {
    padding-top: 12px;
    padding-bottom: 12px;

}