body {
    background-color: #fff;
    color: #000;
    margin: 4rem 0;
}

.navbar {
    border-top-width: 2px;
    border-top-style: solid;
}

.navbar-light {
    background: #f7f7fafa;
    opacity: 0.8;
}
.search-users {
    width:500px; /* ширина блока */
}

.left-panel-blok a {
    text-align: left;
    font-size: 14px;
}

.left-panel {
    border-right-width: 1px;
    border-right-color: rgba(190, 178, 178, 0.801);
}

#user-title {
    font-size: 28px;
}

.btn-toolbar{
    font-size: 10px;
}

.panel-button-small a {
    font-size: 12px;
    padding-bottom: 8px;
    margin-top: -20px;
}

.contents {
    padding-top: 60px;
}

.panel {
    border-radius: 0.3rem;
    padding: 1rem;
    margin-bottom: 1rem;
}

.user-info {
    border-radius: 0.3rem;
    padding: 1rem;
    margin-bottom: 1rem;
    width: 300px;
    height: 120px;
    font-size: 14px;
}

.page-item .page-link {
    margin-left: 2px;
    margin-right: 2px;
    border-radius: 0.3rem;
    color: #000;
}

