<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link crossorigin="anonymous" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="/css/mainPage.css">

</head>
<body>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#">StackOverMentor</a>
    <div class="nav-item col-8">
        <form class="form-inline my-2 my-lg-0" style="">
            <input class="form-control mr-sm-5 col-10" type="search" placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
        </form>
    </div>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav ml-auto">
            <li class="nav-item"><a href="#" class="nav-link"><img src="/images/user.png" width="30" height="30" class="d-inline-block align-top" alt="" title="Последние Входящие Сообщения"/></a></li>
            <li class="nav-item"><a href="#" class="nav-link"><img src="/images/goal.png" width="30" height="30" class="d-inline-block align-top" alt="" title="Последние достижения: репутация, знаки и привелегии"/></a></li>
            <li class="nav-item"><button type="button" class="btn btn-outline-primary">Войти</button></li>
            <li class="nav-item"><button type="button" class="btn btn-outline-primary">Зарегистрироваться</button></li>
        </ul>
    </div>
</nav>
<div class="row">
    <div class="col-3">
        <div class="nav flex-column nav-pills" id="v-pills-tab" role="tablist" aria-orientation="vertical">
            <a class="nav-link active" id="v-pills-home-tab" data-toggle="pill" href="#list-home" role="tab" aria-controls="v-pills-home" aria-selected="true">Главная</a>
            <a class="nav-link" id="v-pills-profile-tab" data-toggle="pill" href="#list-questions" role="tab" aria-controls="v-pills-profile" aria-selected="false">Вопросы</a>
            <a class="nav-link" id="v-pills-messages-tab" data-toggle="pill" href="#list-tags" role="tab" aria-controls="v-pills-messages" aria-selected="false">Метки</a>
            <a class="nav-link" id="v-pills-settings-tab" data-toggle="pill" href="#list-users" role="tab" aria-controls="v-pills-settings" aria-selected="false">Участники</a>
        </div>
    </div>
    <div class="col-9">
        <div class="tab-content" id="nav-tabContent">
            <div class="tab-pane fade show active" id="list-home" role="tabpanel" aria-labelledby="list-home-list">
                <div class="row">
                    <div class="col-9">
                        <div class="row">
                            <div class="col-6">
                                <h4 style="float:left;" class="ml-1 mt-3">Исследуйте вопросы на сайте</h4>
                            </div>
                            <div class="col-6">
                                <button type="button" class="btn btn-primary mt-3" style="text-align:right;float:right;">Задать вопрос</button>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-4">
                                <button type="button" class="btn btn-primary btn-sm mb-1 mt-3">java</button>
                                <button type="button" class="btn btn-primary btn-sm mb-1 mt-3">javaScript</button>
                                <button type="button" class="btn btn-primary btn-sm mb-1 mt-3">front-End</button>
                                <button type="button" class="btn btn-primary btn-sm mb-1 mt-3">back-End</button>
                                <button type="button" class="btn btn-primary btn-sm mb-1">jquery</button>
                                <button type="button" class="btn btn-primary btn-sm mb-1">html</button>
                            </div>
                            <div class="col-8">
                                <ul class="nav nav-tabs mt-3" id="myTab" role="tablist">
                                    <li class="nav-item">
                                        <a class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home" aria-selected="true">Интересные</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" id="profile-tab" data-toggle="tab" href="#profile" role="tab" aria-controls="profile" aria-selected="false">Конкусрные</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" id="contact-tab" data-toggle="tab" href="#contact" role="tab" aria-controls="contact" aria-selected="false">Популярные</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" id="week-tab" data-toggle="tab" href="#week-tab" role="tab" aria-controls="week" aria-selected="false">За неделю</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" id="month-tab" data-toggle="tab" href="#month-tab" role="tab" aria-controls="month" aria-selected="false">За месяц</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col">
                                <div class="tab-content" id="myTabContent">
                                    <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
                                        <div class="list" id="list_questions"></div>
                                        <div class="pagenumbers" id="pagination"></div>
                                    </div>
                                    <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">
                                        <ul class="list-group mt-3" id=" ">

                                        </ul>
                                    </div>
                                    <div class="tab-pane fade" id="contact" role="tabpanel" aria-labelledby="contact-tab">
                                        <ul class="list-group mt-3" id=" ">

                                        </ul>
                                    </div>
                                    <div class="tab-pane fade" id="week" role="tabpanel" aria-labelledby="week-tab">
                                        <ul class="list-group mt-3" id=" ">

                                        </ul>
                                    </div>
                                    <div class="tab-pane fade" id="month" role="tabpanel" aria-labelledby="month-tab">
                                        <ul class="list-group mt-3" id=" ">

                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-3">
                        Метки
                    </div>
                </div>
            </div>
            <div class="tab-pane fade" id="list-questions" role="tabpanel" aria-labelledby="list-profile-list">...</div>
            <div class="tab-pane fade" id="list-tags" role="tabpanel" aria-labelledby="list-messages-list">...</div>
            <div class="tab-pane fade" id="list-users" role="tabpanel" aria-labelledby="list-settings-list">...</div>
        </div>
    </div>
</div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script crossorigin="anonymous"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
        src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"></script>
<script crossorigin="anonymous"
        integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
        src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
<script src="/js/init/mainPage.js"></script>
<script src="/js/service/serviceMainPage.js"></script>
</body>
</html>










