<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" type="text/css" href="/webjars/bootstrap/4.2.1/css/bootstrap.min.css"/>
    <link rel="stylesheet" type="text/css" href="/css/usersPage.css"/>
    <title>Участники</title>
</head>

<body>
<nav class="navbar navbar-expand-sm navbar-light fixed-top">
    <div class="container">
        <a href="#" class="navbar-brand">Home</a>

        <div class="input-group input-group-sm mb-3 search-users">
            <input type="text" class="form-control" aria-label="Sizing example input"
                   aria-describedby="inputGroup-sizing-sm" style="left: 120px;top: 8px;" placeholder="Поиск...">
        </div>

        <div class="collapse navbar-collapse" id="navbarCollapse">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a href="#" class="btn btn-primary btn-block">Log in</a>
                </li>
                <label class="interval-label"></label>
                <li class="nav-item">
                    <a href="#" class="btn btn-primary btn-block">Sign up</a>
                </li>
            </ul>
        </div>
    </div>
</nav>

<!-- HOME SECTION -->

<div class="container">
    <div class="row">
        <div class="col-md-2 left-panel" style="border-right-width: 1px;border-right-style: solid;">
            <div class="btn-group-vertical left-panel-blok" >
                <a href="#" class="btn btn-link text-dark">Главная</a>
                <a href="#" class="btn btn-link text-dark">Вопросы</a>
                <a href="#" class="btn btn-link text-dark">Метки</a>
                <a th:href="@{/users}" class="btn btn-link text-dark">Участники</a>
                <a href="#" class="btn btn-link text-dark">Неотвеченные</a>
            </div>
        </div>

        <div class="col-md-10">

            <div id="user-title">Участники</div>

            <div class="row align-items-start py-2">
                <div class="col">
                    <div class="panel">
                        <h1>Здесь профель участника</h1>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>

<script type="text/javascript" src="/webjars/jquery/3.4.1/jquery.min.js"></script>
<script type="text/javascript" src="/webjars/bootstrap/4.2.1/js/bootstrap.min.js"></script>
</body>
</html>

