<!doctype html>
<html lang="en">
<head>
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" type="text/css" href="/webjars/bootstrap/4.2.1/css/bootstrap.min.css"/>
    <link rel="stylesheet" type="text/css" href="/css/registration.css"/>
    <link rel="stylesheet" type="text/css" href="/css/font-awesome.min.css"/>

    <title>Sign up</title>
</head>
<body id="home">
<nav class="navbar navbar-expand-sm navbar-light fixed-top">
    <div class="container">
        <a href="#" class="navbar-brand">Home</a>
        <div class="collapse navbar-collapse" id="navbarCollapse">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a href="#" class="btn btn-primary btn-block" >Log in</a>
                </li>
                <label class="interval-label"></label>
                <li class="nav-item">
                    <a href="#" class="btn btn-primary btn-block">Sign up</a>
                </li>
            </ul>
        </div>
    </div>
</nav>

<!-- HOME SECTION -->
<div id="home-section">
    <div class="light-overlay">
        <div class="home-inner">
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 d-none d-lg-block" style="padding-top: 50px;">
                        <h3 class="display-4">Join the JM community</h3>
                        <div class="d-flex flex-row">
                            <div class="p-4 align-self-start">
                                <i class="fa fa-check"></i>
                            </div>
                            <div class="p-4 align-self-end">
                                Answer questions
                            </div>
                        </div>
                        <div class="d-flex flex-row">
                            <div class="p-4 align-self-start">
                                <i class="fa fa-check"></i>
                            </div>
                            <div class="p-4 align-self-end">
                                Ask questions
                            </div>
                        </div>
                        <div class="d-flex flex-row">
                            <div class="p-4 align-self-start">
                                <i class="fa fa-check"></i>
                            </div>
                            <div class="p-4 align-self-end">
                                Earn a reputation and get gifts
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="card bg-light text-center card-form">
                            <div class="card-body">
                                <form id="registration" action="/registration" method="post">
                                    <div class="form-group">
                                        <label class="name-label">Name</label>
                                        <input type="text" class="form-control form-control-lg" placeholder="Username" id="username">
                                    </div>
                                    <div class="form-group">
                                        <label class="email-label" >Email</label>
                                        <input type="email" class="form-control form-control-lg" aria-describedby="emailHelp" placeholder="Email" id="email">
                                    </div>
                                    <label class="password-label">Password</label>
                                    <div class="form-group">
                                        <input type="password" class="form-control form-control-lg" placeholder="Password" id="password">
                                    </div>
                                    <label class="btn-label"></label>
                                    <input type="submit" value="Sign up" class="btn btn-primary btn-block" id="sign_up">
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<script type="text/javascript" src="/webjars/jquery/3.4.1/jquery.min.js"></script>
<script type="text/javascript" src="/webjars/bootstrap/4.2.1/js/bootstrap.min.js"></script>
<script type="text/javascript" src="/js/registration.js"></script>
</body>
</html>